<robot name="dexhand021_right_simplified">

  <mujoco>
    <compiler meshdir="../meshes/dexhand021_simplified/" balanceinertia="true" discardvisual="false" />
  </mujoco>

  <link name="right_hand_base">
    <inertial>
      <origin xyz="-0.0015600278745012287 0.0009625090756784007 0.09398454850555357" rpy="0 0 0" />
      <mass value="0.883463360898785" />
      <inertia ixx="0.0023037059580292927" ixy="-2.5805909269074535e-05" ixz="6.508687856674162e-05"
        iyy="0.00175609384330596" iyz="-2.666287531103223e-06" izz="0.0010111364552477476" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/right_hand_base.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/right_hand_base.STL" />
      </geometry>
    </collision>
  </link>
  <link name="r_f_link1_1">
    <inertial>
      <origin xyz="0.0019778544910583665 -0.0003514818577181193 0.013450507914283125" rpy="0 0 0" />
      <mass value="0.004409963237919953" />
      <inertia ixx="3.738552705358593e-07" ixy="3.520913341881495e-09" ixz="3.260085035198596e-08"
        iyy="4.391768875994729e-07" iyz="-8.616401728203388e-09" izz="2.0472072776608229e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link1_1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link1_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_joint1_1" type="revolute">
    <origin xyz="0.032783 0.023781 0.11211" rpy="-2.8732 -0.15197 1.3168" />
    <parent link="right_hand_base" />
    <child link="r_f_link1_1" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="2.2" effort="10" velocity="1.5" />
    <joint_properties damping="0.3" friction="0.5" />
  </joint>
  <link name="r_f_link1_2">
    <inertial>
      <origin xyz="0.021433119463682464 0.00017949524860297363 -0.0012980489303816639" rpy="0 0 0" />
      <mass value="0.009952224489361963" />
      <inertia ixx="6.208915702660591e-07" ixy="4.331524105264049e-08" ixz="-1.2895966979378627e-09"
        iyy="1.653927431057688e-06" iyz="-2.4476026593789965e-10" izz="1.710128108742942e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link1_2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link1_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_joint1_2" type="revolute">
    <origin xyz="0.0083307 0 0" rpy="-1.5708 0 0" />
    <parent link="r_f_link1_1" />
    <child link="r_f_link1_2" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="1.3" effort="10" velocity="1.5" />
    <joint_properties damping="0.3" friction="0.5" />
  </joint>
  <link name="r_f_link1_3">
    <inertial>
      <origin xyz="0.013458664141784588 -0.0006999958062437809 -0.0012933496543974267" rpy="0 0 0" />
      <mass value="0.004573330448687783" />
      <inertia ixx="2.037621860887778e-07" ixy="8.916735061601473e-09" ixz="-4.728402827633534e-11"
        iyy="3.560514726888813e-07" iyz="-9.591501738021396e-12" izz="3.7975043116215744e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link1_3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link1_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_joint1_3" type="revolute">
    <origin xyz="0.043 0 0" rpy="0 0 0" />
    <parent link="r_f_link1_2" />
    <child link="r_f_link1_3" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="1.3" effort="10" velocity="1.5" />
    <joint_properties damping="0.3" friction="0.5" />
  </joint>
  <link name="r_f_link1_4">
    <inertial>
      <origin xyz="0.016260902265632454 -0.0036968191068811897 -0.0012919747163664733" rpy="0 0 0" />
      <mass value="0.0061592845660588934" />
      <inertia ixx="3.209811115967142e-07" ixy="1.2445469635995967e-07" ixz="-6.880896135469004e-11"
        iyy="7.411929699509472e-07" iyz="2.2440788377780098e-11" izz="7.350966610995298e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link1_4.STL" />
      </geometry>
      <material name="">
        <color rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link1_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_joint1_4" type="revolute">
    <origin xyz="0.025 0 0" rpy="0 0 0" />
    <parent link="r_f_link1_3" />
    <child link="r_f_link1_4" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="1.3" effort="10" velocity="1.5" />
    <joint_properties damping="0.3" friction="0.5" />
  </joint>
  <link name="r_f_link2_1">
    <inertial>
      <origin xyz="0.007002069038621297 9.357803041398554e-08 0.0009685458146087415" rpy="0 0 0" />
      <mass value="0.00409703693716023" />
      <inertia ixx="2.178904895420587e-07" ixy="1.787165940909423e-12" ixz="-2.714020732705414e-08"
        iyy="3.1812522087563326e-07" iyz="-3.5118768363971816e-12" izz="2.5804422992725426e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link2_1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link2_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_joint2_1" type="revolute">
    <origin xyz="0.006966 0.034912 0.1644" rpy="0 -1.5708 0" />
    <parent link="right_hand_base" />
    <child link="r_f_link2_1" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="0.6" effort="10" velocity="1.5" />
    <joint_properties damping="0.3" friction="0.5" />
  </joint>
  <link name="r_f_link2_2">
    <inertial>
      <origin xyz="0.021162319330545017 -0.0005905085870812944 -2.0359113094578646e-06" rpy="0 0 0" />
      <mass value="0.009428397870928118" />
      <inertia ixx="5.548897448174672e-07" ixy="2.456603793705999e-08" ixz="-1.449358310042273e-09"
        iyy="1.6571977230510514e-06" iyz="-3.7107061310136195e-11" izz="1.643290123512205e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link2_2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link2_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_joint2_2" type="revolute">
    <origin xyz="0.017 0 0" rpy="-1.5708 0 0" />
    <parent link="r_f_link2_1" />
    <child link="r_f_link2_2" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="1.3" effort="10" velocity="1.5" />
    <joint_properties damping="0.3" friction="0.5" />
  </joint>
  <link name="r_f_link2_3">
    <inertial>
      <origin xyz="0.01345866415315435 -0.0006999958062410579 -9.330927506595308e-07" rpy="0 0 0" />
      <mass value="0.004573330342568089" />
      <inertia ixx="2.0376217670112032e-07" ixy="8.91673496248712e-09" ixz="-4.72826458681375e-11"
        iyy="3.5605146078323137e-07" iyz="-9.59165793254378e-12" izz="3.797504229073957e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link2_3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link2_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_joint2_3" type="revolute">
    <origin xyz="0.043 0 0" rpy="0 0 0" />
    <parent link="r_f_link2_2" />
    <child link="r_f_link2_3" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="1.3" effort="10" velocity="1.5" />
    <joint_properties damping="0.3" friction="0.5" />
  </joint>
  <link name="r_f_link2_4">
    <inertial>
      <origin xyz="0.016260902193777373 -0.0036968190901838743 3.9726157294289625e-07" rpy="0 0 0" />
      <mass value="0.006159284595780522" />
      <inertia ixx="3.20980749974577e-07" ixy="1.2445469728969045e-07" ixz="-6.803142097883919e-11"
        iyy="7.411926136551803e-07" iyz="2.345964836779508e-11" izz="7.35096667536344e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link2_4.STL" />
      </geometry>
      <material name="">
        <color rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link2_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_joint2_4" type="revolute">
    <origin xyz="0.025 0 0" rpy="0 0 0" />
    <parent link="r_f_link2_3" />
    <child link="r_f_link2_4" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="1.3" effort="10" velocity="1.5" />
    <joint_properties damping="0.3" friction="0.5" />
  </joint>
  <link name="r_f_link3_1">
    <inertial>
      <origin xyz="0.007002065151499656 9.454180011921967e-08 0.0009685524458122911" rpy="0 0 0" />
      <mass value="0.004097039690946969" />
      <inertia ixx="2.178907383197761e-07" ixy="1.812446936566197e-12" ixz="-2.7140047929913052e-08"
        iyy="3.181255635140554e-07" iyz="-3.5436789396505467e-12" izz="2.5804432247051993e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link3_1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link3_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_joint3_1" type="revolute">
    <origin xyz="0.006966 0.010612 0.1734" rpy="0 -1.5708 0" />
    <parent link="right_hand_base" />
    <child link="r_f_link3_1" />
    <axis xyz="0 0 1" />
    <limit lower="-0.001" upper="0.001" effort="0" velocity="0" />
  </joint>
  <link name="r_f_link3_2">
    <inertial>
      <origin xyz="0.021162319330545024 -0.0005905085870812944 -2.0359113094579582e-06" rpy="0 0 0" />
      <mass value="0.009428397870928118" />
      <inertia ixx="5.548897448174672e-07" ixy="2.4566037937060034e-08"
        ixz="-1.4493583100422476e-09" iyy="1.657197723051048e-06" iyz="-3.710706131013722e-11"
        izz="1.6432901235122024e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link3_2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link3_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_joint3_2" type="revolute">
    <origin xyz="0.017 0 0" rpy="-1.5708 0 0" />
    <parent link="r_f_link3_1" />
    <child link="r_f_link3_2" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="1.3" effort="10" velocity="1.5" />
    <joint_properties damping="0.3" friction="0.5" />
  </joint>
  <link name="r_f_link3_3">
    <inertial>
      <origin xyz="0.013458664153210224 -0.0006999958063106384 -9.330929179144477e-07" rpy="0 0 0" />
      <mass value="0.004573330342515683" />
      <inertia ixx="2.0376217669493455e-07" ixy="8.916734960990637e-09" ixz="-4.728264880693177e-11"
        iyy="3.56051460777864e-07" iyz="-9.591653550951845e-12" izz="3.7975042290424446e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link3_3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link3_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_joint3_3" type="revolute">
    <origin xyz="0.043 0 0" rpy="0 0 0" />
    <parent link="r_f_link3_2" />
    <child link="r_f_link3_3" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="1.3" effort="10" velocity="1.5" />
    <joint_properties damping="0.3" friction="0.5" />
  </joint>
  <link name="r_f_link3_4">
    <inertial>
      <origin xyz="0.016260902193777373 -0.0036968190901838743 3.97261572942753e-07" rpy="0 0 0" />
      <mass value="0.006159284595780522" />
      <inertia ixx="3.20980749974577e-07" ixy="1.2445469728969045e-07" ixz="-6.803142097885355e-11"
        iyy="7.411926136551803e-07" iyz="2.3459648367798343e-11" izz="7.35096667536344e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link3_4.STL" />
      </geometry>
      <material name="">
        <color rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link3_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_joint3_4" type="revolute">
    <origin xyz="0.025 0 0" rpy="0 0 0" />
    <parent link="r_f_link3_3" />
    <child link="r_f_link3_4" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="1.3" effort="10" velocity="1.5" />
    <joint_properties damping="0.3" friction="0.5" />
  </joint>
  <link name="r_f_link4_1">
    <inertial>
      <origin xyz="0.00700206404946545 -9.455995810260609e-08 -0.0009685535151255396" rpy="0 0 0" />
      <mass value="0.004097040417879458" />
      <inertia ixx="2.1789076647042053e-07" ixy="-1.8130446100071611e-12"
        ixz="2.7140020786854562e-08" iyy="3.181256178112115e-07" iyz="-3.5443354761634267e-12"
        izz="2.5804435232800547e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link4_1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link4_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_joint4_1" type="revolute">
    <origin xyz="0.006966 -0.013688 0.1644" rpy="3.1416 -1.5708 0" />
    <parent link="right_hand_base" />
    <child link="r_f_link4_1" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="0.6" effort="10" velocity="1.5" />
    <joint_properties damping="0.3" friction="0.5" />
  </joint>
  <link name="r_f_link4_2">
    <inertial>
      <origin xyz="0.021162319330545028 -0.0005905085870812945 -2.0359113094580522e-06" rpy="0 0 0" />
      <mass value="0.009428397870928114" />
      <inertia ixx="5.548897448174672e-07" ixy="2.4566037937060014e-08"
        ixz="-1.4493583100423105e-09" iyy="1.657197723051048e-06" iyz="-3.710706131013946e-11"
        izz="1.6432901235122017e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link4_2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link4_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_joint4_2" type="revolute">
    <origin xyz="0.017 0 0" rpy="1.5708 0 0" />
    <parent link="r_f_link4_1" />
    <child link="r_f_link4_2" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="1.3" effort="10" velocity="1.5" />
    <joint_properties damping="0.3" friction="0.5" />
  </joint>
  <link name="r_f_link4_3">
    <inertial>
      <origin xyz="0.01345866415322733 -0.0006999958065390803 -9.330926767104112e-07" rpy="0 0 0" />
      <mass value="0.00457333034240358" />
      <inertia ixx="2.0376217668041e-07" ixy="8.91673496008684e-09" ixz="-4.728264679830499e-11"
        iyy="3.5605146077323675e-07" iyz="-9.591662499769373e-12" izz="3.797504228946728e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link4_3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link4_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_joint4_3" type="revolute">
    <origin xyz="0.043 0 0" rpy="0 0 0" />
    <parent link="r_f_link4_2" />
    <child link="r_f_link4_3" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="1.3" effort="10" velocity="1.5" />
    <joint_properties damping="0.3" friction="0.5" />
  </joint>
  <link name="r_f_link4_4">
    <inertial>
      <origin xyz="0.016260902193777373 -0.0036968190901838743 3.972615729429321e-07" rpy="0 0 0" />
      <mass value="0.006159284595780522" />
      <inertia ixx="3.20980749974577e-07" ixy="1.2445469728969045e-07" ixz="-6.803142097883491e-11"
        iyy="7.411926136551803e-07" iyz="2.345964836779392e-11" izz="7.35096667536344e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link4_4.STL" />
      </geometry>
      <material name="">
        <color rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link4_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_joint4_4" type="revolute">
    <origin xyz="0.025 0 0" rpy="0 0 0" />
    <parent link="r_f_link4_3" />
    <child link="r_f_link4_4" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="1.3" effort="10" velocity="1.5" />
    <joint_properties damping="0.3" friction="0.5" />
  </joint>
  <link name="r_f_link5_1">
    <inertial>
      <origin xyz="0.007002072345617439 -9.356774266676025e-08 -0.0009685416065737108" rpy="0 0 0" />
      <mass value="0.004097034606160823" />
      <inertia ixx="2.1789035420755646e-07" ixy="-1.7868226937386937e-12"
        ixz="2.7140306065952608e-08" iyy="3.1812500990757077e-07" iyz="-3.511503367038186e-12"
        izz="2.5804414762069686e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link5_1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link5_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_joint5_1" type="revolute">
    <origin xyz="0.006966 -0.037988 0.1504" rpy="3.1416 -1.5708 0" />
    <parent link="right_hand_base" />
    <child link="r_f_link5_1" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="0.6" effort="10" velocity="1.5" />
    <joint_properties damping="0.3" friction="0.5" />
  </joint>
  <link name="r_f_link5_2">
    <inertial>
      <origin xyz="0.021162319330545028 -0.0005905085870812942 -2.0359113094578888e-06" rpy="0 0 0" />
      <mass value="0.009428397870928114" />
      <inertia ixx="5.548897448174672e-07" ixy="2.4566037937060094e-08"
        ixz="-1.4493583100422778e-09" iyy="1.657197723051048e-06" iyz="-3.710706131013762e-11"
        izz="1.6432901235122017e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link5_2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link5_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_joint5_2" type="revolute">
    <origin xyz="0.017 0 0" rpy="1.5708 0 0" />
    <parent link="r_f_link5_1" />
    <child link="r_f_link5_2" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="1.3" effort="10" velocity="1.5" />
    <joint_properties damping="0.3" friction="0.5" />
  </joint>
  <link name="r_f_link5_3">
    <inertial>
      <origin xyz="0.013458664153178274 -0.0006999958064664594 -9.33092622464221e-07" rpy="0 0 0" />
      <mass value="0.004573330342463683" />
      <inertia ixx="2.0376217668717986e-07" ixy="8.916734961335758e-09"
        ixz="-4.7282645403529146e-11" iyy="3.5605146077906275e-07" iyz="-9.591663946392197e-12"
        izz="3.797504228974048e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link5_3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link5_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_joint5_3" type="revolute">
    <origin xyz="0.043 0 0" rpy="0 0 0" />
    <parent link="r_f_link5_2" />
    <child link="r_f_link5_3" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="1.3" effort="10" velocity="1.5" />
    <joint_properties damping="0.3" friction="0.5" />
  </joint>
  <link name="r_f_link5_4">
    <inertial>
      <origin xyz="0.01626090219377737 -0.0036968190901838743 3.972615729429321e-07" rpy="0 0 0" />
      <mass value="0.006159284595780522" />
      <inertia ixx="3.2098074997457713e-07" ixy="1.244546972896905e-07" ixz="-6.803142097883424e-11"
        iyy="7.411926136551809e-07" iyz="2.345964836779013e-11" izz="7.350966675363446e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link5_4.STL" />
      </geometry>
      <material name="">
        <color rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/dexhand021_simplified/r_f_link5_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="r_f_joint5_4" type="revolute">
    <origin xyz="0.025 0 0" rpy="0 0 0" />
    <parent link="r_f_link5_3" />
    <child link="r_f_link5_4" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="1.3" effort="10" velocity="1.5" />
    <joint_properties damping="0.3" friction="0.5" />
  </joint>

  <link name="r_f_link1_tip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1.0E-09" ixy="0.0" ixz="0.0" iyy="1.0E-09" iyz="0.0" izz="1.0E-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.002" />
      </geometry>
      <material name="">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.002" />
      </geometry>
    </collision>
  </link>

  <joint name="r_f_joint1_tip" type="fixed">
    <origin xyz="0.035 -0.004 0" rpy="0 0 0" />
    <parent link="r_f_link1_4" />
    <child link="r_f_link1_tip" />
  </joint>

  <link name="r_f_link2_tip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1.0E-09" ixy="0.0" ixz="0.0" iyy="1.0E-09" iyz="0.0" izz="1.0E-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.002" />
      </geometry>
      <material name="">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.002" />
      </geometry>
    </collision>
  </link>

  <joint name="r_f_joint2_tip" type="fixed">
    <origin xyz="0.035 -0.004 0" rpy="0 0 0" />
    <parent link="r_f_link2_4" />
    <child link="r_f_link2_tip" />
  </joint>

  <link name="r_f_link3_tip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1.0E-09" ixy="0.0" ixz="0.0" iyy="1.0E-09" iyz="0.0" izz="1.0E-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.002" />
      </geometry>
      <material name="">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.002" />
      </geometry>
    </collision>
  </link>

  <joint name="r_f_joint3_tip" type="fixed">
    <origin xyz="0.035 -0.004 0" rpy="0 0 0" />
    <parent link="r_f_link3_4" />
    <child link="r_f_link3_tip" />
  </joint>

  <link name="r_f_link4_tip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1.0E-09" ixy="0.0" ixz="0.0" iyy="1.0E-09" iyz="0.0" izz="1.0E-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.002" />
      </geometry>
      <material name="">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.002" />
      </geometry>
    </collision>
  </link>

  <joint name="r_f_joint4_tip" type="fixed">
    <origin xyz="0.035 -0.004 0" rpy="0 0 0" />
    <parent link="r_f_link4_4" />
    <child link="r_f_link4_tip" />
  </joint>

  <link name="r_f_link5_tip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1.0E-09" ixy="0.0" ixz="0.0" iyy="1.0E-09" iyz="0.0" izz="1.0E-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.002" />
      </geometry>
      <material name="">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.002" />
      </geometry>
    </collision>
  </link>

  <joint name="r_f_joint5_tip" type="fixed">
    <origin xyz="0.035 -0.004 0" rpy="0 0 0" />
    <parent link="r_f_link5_4" />
    <child link="r_f_link5_tip" />
  </joint>

  <link name="r_f_link1_pad">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1.0E-09" ixy="0.0" ixz="0.0" iyy="1.0E-09" iyz="0.0" izz="1.0E-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.012 0.001 0.006" />
      </geometry>
      <material name="">
        <color rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.012 0.001 0.006" />
      </geometry>
    </collision>
  </link>

  <joint name="r_f_joint1_pad" type="fixed">
    <origin xyz="0.026 0.0025 -0.001" rpy="0 0 -0.45" />
    <parent link="r_f_link1_4" />
    <child link="r_f_link1_pad" />
  </joint>

  <link name="r_f_link2_pad">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1.0E-09" ixy="0.0" ixz="0.0" iyy="1.0E-09" iyz="0.0" izz="1.0E-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.012 0.001 0.006" />
      </geometry>
      <material name="">
        <color rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.012 0.001 0.006" />
      </geometry>
    </collision>
  </link>

  <joint name="r_f_joint2_pad" type="fixed">
    <origin xyz="0.026 0.0025 0.000" rpy="0 0 -0.45" />
    <parent link="r_f_link2_4" />
    <child link="r_f_link2_pad" />
  </joint>

  <link name="r_f_link3_pad">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1.0E-09" ixy="0.0" ixz="0.0" iyy="1.0E-09" iyz="0.0" izz="1.0E-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.012 0.001 0.006" />
      </geometry>
      <material name="">
        <color rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.012 0.001 0.006" />
      </geometry>
    </collision>
  </link>

  <joint name="r_f_joint3_pad" type="fixed">
    <origin xyz="0.026 0.0025 0.000" rpy="0 0 -0.45" />
    <parent link="r_f_link3_4" />
    <child link="r_f_link3_pad" />
  </joint>

  <link name="r_f_link4_pad">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1.0E-09" ixy="0.0" ixz="0.0" iyy="1.0E-09" iyz="0.0" izz="1.0E-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.012 0.001 0.006" />
      </geometry>
      <material name="">
        <color rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.012 0.001 0.006" />
      </geometry>
    </collision>
  </link>

  <joint name="r_f_joint4_pad" type="fixed">
    <origin xyz="0.026 0.0025 0.000" rpy="0 0 -0.45" />
    <parent link="r_f_link4_4" />
    <child link="r_f_link4_pad" />
  </joint>

  <link name="r_f_link5_pad">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1.0E-09" ixy="0.0" ixz="0.0" iyy="1.0E-09" iyz="0.0" izz="1.0E-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.012 0.001 0.006" />
      </geometry>
      <material name="">
        <color rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.012 0.001 0.006" />
      </geometry>
    </collision>
  </link>

  <joint name="r_f_joint5_pad" type="fixed">
    <origin xyz="0.026 0.0025 0.000" rpy="0 0 -0.45" />
    <parent link="r_f_link5_4" />
    <child link="r_f_link5_pad" />
  </joint>
</robot>
